* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 13px;
    font-family: sans-serif;
    color:white;
    margin-top: -20px;
    padding: 0;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

.container{
    width: 100%;
    overflow: hidden;
    padding:0;
    background-color: black;
    margin: 0;
    position: relative;
    height: 1000px;
    /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/cart_back2.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
}


.navbar{
    position: absolute;
    top: 55px;
    right: 30px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}


.nav{
    float: left;
    margin-right: 23px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s transform;
}

.nav:hover{
    color: #d7d7d7;
    transform: scale(1.1);
    transition: 0.1s transform;
}

.hero-section{
    position:relative;
    top: 50px;
}

.Profiles{
    margin-left:45%;
    margin-top:50px;
    transform:translate(-50%,0);
    width:1200px;
}
.profile{
    position:relative;
    display:inline-block;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/wall2.jpeg");
    background-position: center;
    background-size: cover;
}
#about{
    margin-left:250px;
    margin-top:60px;
    width:250px;
    height:170px;
    position:relative;
    background-color:white;
}
#mayank{
    margin-left:14px;
    margin-top:60px;
    position:absolute;
    width:400px;
    height:220px;
    top:35%;


}
#mohit{
    width:270px;
    height:330px;
    position:absolute;
    right:34.6%;
    top:162%;

}
#jainam{
    width:347px;
    height:220px;
    position:absolute;
    right:4.5%;
    top:162%;


}
#prabha{
    width:250px;
    height:220px;
    position:absolute;
    right:58.3%;
    top:105%;


}
#dhruvil{
    width:220px;
    height:300px;
    position:absolute;
    right:4.4%;
    top:26%;

}
#mohinish{
    width:250px;
    height:280px;
    position:absolute;
    right:58.3%;
    top:205%;
}
#cmpe{
    width:347px;
    height:160px;
    position:absolute;
    right:4.5%;
    top:262%;

}
.Name{
    font-size:170%;
    position: absolute;
    top:50%;
    left:50%;
    color:White;
    opacity:0.9;
    transition:0.7s;
    transform: translate(-50%,-50%);
}

.web_name{
    position:absolute;
    font-size: 150%;
    color: floralwhite;
    width:100%;
    opacity:0.9;
    left:40%;
    top:60%;
    display:none;
 /*   transition:0.5s;
*/
}

.profile:hover .Name{
    top:20%;
}
/*
.profile:hover .web_name{
    top:50%;
    transition:0.5s;
    display:inline-block;
}
.web_name:hover{

}*/
.footer_class{
    float:left;
}