footer{

	padding:15px;
	margin:0px 15px;

	position: absolute;
	bottom: 0;
	width: 100%;
	border:1px solid white;
}
.clearfix:after {
	clear: both;
	display: table;
	content: "";
}
a{
	text-decoration: none;
	color:white;
}

.right_footer
{

	FLOAT:left;
	margin-right:20px;
	padding:1px 0;
	width:66%;
	border:1px solid white;
}
.icons_footer
{
	display:inline;
	width:50%;
	border:1px solid white;
}
.footer_links
{
	border:1px solid red;
	width:50%;
	display:inline;

}
i
{
	padding: 13px;
}
.footer_link
{
	padding:10px;
	color:white;
}
.footer_link:hover{
	color: grey;
}
.signup{
	display:inline-block;
	border-radius: 12px;
	background:black;
	color:black;
	background-color: white;
	padding:10px;
	margin-left:10px;
	margin-top:10px;
	transition: 0.3s;
}
#signup_section{
	width:32.5%;
	float:left;
	border:1px solid white;
	padding-top:3px;
}
.signup:hover
{
	background:black;
	color:white;
	border:1px solid black;
}


