footer{
	border-top:2px solid grey;
	padding:15px;
	margin:0px 15px;
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
}
a{
	text-decoration: none;
	color:white;
}

.right_footer
{
    padding:10px;
	FLOAT:RIGHT;

}
.icons_footer
{
	display:inline;
	padding-right:90px;
}
.footer_links
{
	padding-left:50px;
	display:inline;

}
i
{
	padding: 10px;
}
.footer_link
{
	padding:10px;
	color:white;
}
.footer_link:hover{
	color: grey;
}
.signup{
	display:inline-block;
	border-radius: 12px;
	background:black;
	color:black;
	background-color: white;
	padding:10px;
	margin-left:50px;
	margin-top:10px;
	transition: 0.3s;
}
.signup:hover
{
	background:black;
	color:white;
	border:1px solid black;
}


