* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 22px;
    font-family: sans-serif;
    color:white;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

.container{
    width: 100%;
    padding:0;
    margin: 0;
    height: auto;
    background-color: black;

}

.container-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
    font-family: 'Roboto', sans-serif;
    margin: 55px 35px;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    font-family: 'Roboto', sans-serif;
    margin: 55px 35px;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
    font-size: 25px;
    color: #e74c3c;
}


.nav{
    float: left;
    margin-right: 23px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s transform;
    z-index: 100000;

}

.nav:hover{
    color: #d7d7d7;
    transform: scale(1.1);
    transition: 0.1s transform;
}

.most-searched-section{
    width: 100%;
    padding: 0 35px;
    position: relative;
}

#searchsection1{
    padding-top: 200px;
}

.most-searched-head{
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.left-icon{
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    left: -1%;
    z-index: 32423;
    height: 40px;
    width: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    cursor: pointer;
}


.left-icon i:hover{
    transform: scale(1.3);
    transition: 0.1s;
}


.right-icon{
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    right: -4.5%;
    z-index: 32423;
    height: 40px;
    width: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.right-icon i:hover{
    transform: scale(1.3);
    transition: 0.1s;
}

.most-searched-box-container{
    width: 99.5%;
    height: 250px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.most-searched-container{
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}


.most-searched-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 210%;
    height: 180px;
    margin-top: 30px;
}

.most-search-product-box{
    float: left;
    width: 11.23%;
    margin-left: 0.67%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s transform, 0.3s top, 0.3s width, 0.3s height;
}

.most-search-product-box:nth-of-type(1){
    margin-left: 0.5%;
}

.most-search-product-box:hover{
    width: 15%;
    transition: 0.3s transform, 0.3s top, 0.3s width, 0.3s height;
    /*transform: translate(-0.5%);*/
    /*top: -13%;*/
    /*height: 120%;*/
    transform: scale(1,1.5);
}

.product-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.most-seacrh-product-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.most-seacrh-product-image img{
    height: 100%;
    width: 100%;
}

.product-info{
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.product-desc-section{
    height: 300px;
    width: 98%;
    margin-left: 1.15%;
    margin-top: -25px;
    overflow: hidden;
    border:1px solid white;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
}

.left_desc{
    width:47%;
    float:left;
    border-right:1px solid white;
    height:100%;
    margin-right: 3%;
    color: black;
}


.product_name{
    width:100%;
    font-weight: 600;
    font-size: 21px;
}

.product_category{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 17px;
    color: #494949;
    margin-top: 4px;
    padding-bottom: 13px;
    border-bottom: 1px solid #d0d0d0;
}

.product_price{
    width:45%;
    margin-top:20px;
    font-size: 21px;
}

.old_price{
    font-size: 18px;
    color: #494949;
    margin-left: 10px;
}

.discount{
    margin-left: 8px;
    font-size: 18px;
    color: #e67e22;
}

.product_details_head{
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 8px;
}

.product_detail{
    font-size: 12px;
    margin-right: 8px;
    padding: 0 7px;
    height: 18px;
    line-height: 17px;
    display: inline-block;
    border: 1px solid #e67e22;;
    border-radius: 10px;
    color: #e67e22;
    cursor: pointer;
    transition: 0.1s;
}

.product_detail:hover{
    background-color: #e67e22;
    color: white;
    transition: 0.1s;
}

.product_buttons{
    margin-top: 30px;
    height: 45px;
    line-height: 45px;
}

.cart{
    border:1px solid white;
    width:40%;
    float: left;
    margin-bottom: 10px;
    border-radius:5px;
    padding:0 7px;
    font-size:17px;
    text-align:center;
    background-color:#e74c3c;
    color: white;
    height: 100%;
    border: 1px solid #e74c3c;
    cursor: pointer;
}
.cart:hover{
    background-color:#e74c3c;
}
.wishlist{
    float: left;
    height: 100%;
    margin-left: 5%;
    border:1px solid white;
    width:40%;
    text-align: center;
    margin-bottom: 10px;
    border-radius:5px;
    padding:0 7px;
    font-size:17px;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    cursor: pointer;
}
.wishlist:hover{
    background-color: #e74c3c;
    color: white;
}

.add_review_box{
    border:1px solid grey;
    width:100%;
}
.heading_review_box{

}
.review_area{
    float:left;
    border:1px solid grey;
    width: 80%;
    height: 80px;
}
.add_review_box{
    float:left;
    margin:5px;
}
.add_review_button{
    padding:5px;
    font-size:15px;
    text-align: center;
    border:1px solid white;
    border-radius: 13px;
    width: 20%;
    float:left;
}
.right_desc{
    width:50%;
    float:left;
    height:97%;
    padding:10px;
    overflow:auto;
    color: black;
}
.review_heading{
    color:#e74c3c;
    margin:15px auto;
}
.all_reviews{
    border:1px solid grey;
}
.review{
    border:1px solid grey;
    padding:10px;
    font-size: 15px;
    line-height: 20px;

}
.block{
    width: 100%;
    height: 280px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1212312;
    display: none;
}

.products-section{
    height: 400px;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 100px;
}

.product-left{
    width: 52%;
    margin-right: 3%;
    float: left;
    /*border: 1px solid rgba(193, 193, 193, 0.52);*/
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/coffee.jpg");
    background-size: cover;
    background-position: bottom;
    text-align: center;
    line-height: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.product-right{
    width: 42%;
    margin-left: 3%;
    float: left;
    height: 360px;

}

.product-right-content{
    height: 50%;
    /*border: 1px solid rgba(193, 193, 193, 0.52);*/
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/sandwich.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    text-align: center;
    line-height: 190px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.product-right-content:first-of-type{
    height: 50%;
    /*border: 1px solid rgba(193, 193, 193, 0.52);*/
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/burger.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}
