
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 22px;
    font-family: sans-serif;
    color:black;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}
.rating_star{
    color:gold;
    display: inline-block;
}
.rating_star_blank{
    color: grey;
    display: inline-block;
}
.container{
    width: 100%;
    padding:0;
    margin: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.hero-section{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    font-family: 'Roboto', sans-serif;
    margin: 45px 35px;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
    font-size: 25px;
    color: #e74c3c
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    margin: 55px 35px;
}


.nav{
    float: left;
    margin-right: 23px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s transform;
}

.nav:hover{
    color: #d7d7d7;
    transform: scale(1.1);
    transition: 0.1s transform;
}

.products_main{
    width:80%;
    z-index: 100;
    margin:120px auto;
    margin-bottom: 50px;
    padding-top: 10px;
}
.left_sort_box{
    float:left;
    width:20%;
    margin:70px 0;
}
.left_box{
    padding:10px;
    margin:10px auto;
    width:100%;
}
.left_box_heading{
    width:100%;
    font-size:22px;
    color:black;
}
.left_box_row{
    width:100%;
    margin:10px 0;
    color:grey;
    font-size:16px;
    cursor: pointer;
}
.hero-section-search{
    margin: 0 auto;
    height: 45px;
    width:55%;
    padding:0px;
}

.search-box{
    display: inline-block;
    width: 85%;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 1px solid grey;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 0;
    float: left;
    height: 100%;
    z-index: -1;
}

.search-button{
    width: 15%;
    background-color: white;
    color: #5d5d5d;
    display: inline-block;
    line-height: 40px;
    border:1px solid grey;
    border-left:0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}
#microphone{
    margin:8px 42%;
}
.search-button:hover{
    background-color:#e74c3c;
    color:white;
}
.all_products{
    /*float:left;*/
    width:80%;
    float:left;
    margin:70px 0;

    /*padding: 30px 0px;*/
}

.product{
    border-bottom:1px solid grey;
    padding: 10px;
    padding-right:0px;
    margin:0 auto;
    width:95%;
}

.product_desc_right{
    width:23%;
    float:left;
    padding:8px 0;
    padding-top:1px;

    border-left:1px solid grey;
}
.product_img{
    float:left;
    height:150px;
    width:16%;
    margin-right: 5px;
}

.product_img img{
    width: 100%;
    height: 100%;
}

.product_desc_box{
    float:left;
    width:58%;
    padding:0.5%;
    padding-left: 2%;
    padding-right:0;

}

.prod_name{
    font-size:18px;
    width:60%;
    color: #515151;
    font-weight: 600;
    float:left;
}
.product_description{
    float:left;
    font-size:12px;
    width:70%;
    margin:5px 0;
    color:grey;
}
.rating{
    width:40%;
    float:left;
    font-size:15px;

}
.product_qty{
    margin-top:15%;

    width:70%;
    color:black;
    display:block;
    font-size:15px;
}

.product_qty input{
    width: 15%;
    margin-left: 5px;
    height: 20px;
    padding-left: 3px;
    border-radius: 3px;
    outline: none;
    border: 1px solid gray;
}
.product_price{
    float:right;
    margin-right:5px;
    font-size: 15px;
}
.product_website{
    font-size:10px;
    color:grey;
    margin-top:6.5%;
}

.our_price{
    width:90%;
    font-size: 15px;
    margin:14px 15px;
}
.cart{
    width:75%;
    border:1px solid rgb(231,76,60);
    border-radius:13px;
    text-align: center;
    margin:14px auto;
    padding:7px;
    font-size:15px;
    cursor: pointer;
}
.cart:hover{
    background-color:#e74c3c;
    color:white;
}