
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 22px;
    font-family: sans-serif;
    color:black;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

.container{
    width: 100%;
    padding:0;
    margin: 0;
    /*background: linear-gradient(rgba(231,76,60,0.2),rgba(231,76,60,0.2)),url("../images/signup_side5.jpg");*/
    background-color: rgb(238, 238, 238);
}
.hero-section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.slideshow{
    width:0;
    height:100vh;
    float:left;
    display: none;
    /*background: linear-gradient(rgba(231,76,60,0.2),rgba(231,76,60,0.2)),url("../images/signup_sideimg1.PNG");*/
}
.company_name{
    width:100%;
    text-align:center;
    color:white;
    margin-top:30vh;
    font-size: 45px;
    border:1px solid red;
}
.wrapper {
    max-width: 100%;
    float:left;
    width: 100%;
    font-size: 15px;
    margin-top: 35px;
    height:100vh;
    margin-bottom: 0;
}
.signin_nav{
    color:white;
    width:25%;
    padding:3%;
    padding-right:3%;
    float: right;
    height: 0;
    display: none;
}
ul{
    float:right;
    list-style: none;
    width: 100%;
    font-size:17px;
    color:white;

}

li{
    display: inline-block;
    width: 60%;
    float: left;

}
#signin_text{
    padding:5px;
}
.signin_button{
    border:1px solid black;
    width:34%;
    padding:6px 13px;
    text-align:center;
    border-radius:15px;

}
.signin_button:hover{
    background-color: #e74c3c;
    color:white;
    border: 1px solid #e74c3c;
}
.form-wrapper {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(220, 220, 220, 0.64);
}

.form-box {
    /*border: 1px solid #efefef;*/
    border-radius: 1px;
    background-color: white;
    padding:20px 0;
    margin-bottom: 0;
}

.gap {
    padding: 10px 0;
}

._gap {
    margin-bottom: 20px;
}

.primary-heading {
    font-family: 'Raleway', sans-serif;
    padding: 0 1%;
    padding-bottom: 5px;
    margin-left: 5%;
    font-size: 190%;
    color: #2d2d2d;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom:30px;
    display: inline-block;
}

.secondary-heading {
    font-size: 120%;
    margin: 0 40px 10px;
    text-align: center;
    font-weight: 300;
    color:black;
}

.form-basic {
    margin: 0 40px 6px;

}

input[type="text"],
input[type="password"]{
    width: 100%;
    margin:5px auto;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    font-size: 100%;
    outline: none;
    transition: 0.4s linear;
    border: 1px solid #999;
    border-radius:5px;
}

input:focus {
    border: 1px solid #000;
    box-shadow: inset 0 0 2px #000;
}

.btn-container {
    margin: 20px 40px;
    display: block;
}

.btn-form {
    width: 100%;
    color:white;
    padding: 0 12px;
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    transition: 0.4s ease;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    display:block;
    text-decoration: none !important;
    text-align: center;
    background-color:#c0392b;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #c0392b;
}
.btn-form:last-of-type{
    color: #c0392b;
    background-color: white;
    border: 1px solid #c0392b;
    margin-top: 18px;
}


.signup_button{
    background-color:#e74c3c;
    background-color: #161616;
    color:white;
    padding:3px;
    line-height:220%;
    margin: 1px auto;
    width:60%;
}
.signup_botton:hover{
    background-color:rgba(231, 76, 60, 0.1)
}
.small-copy {
    margin: 10px 50px;
    text-align: center;
    font-size: 90%;
}

.small-copy a {
    text-decoration: none;
    color: #000;
    transition: 0.4s linear;
    border-bottom: 1px solid rgba(0,0,0,0);
    padding-bottom: 3px;
    font-weight: 600;
    border-bottom: 1px solid;
    margin-left: 5px;
}


.line-style,
.middle-style {
    display: inline-block;
}

.line-style {
    height: 1.5px;
    background-color: #999;
    width: 40.1%;
    vertical-align: middle;
}

.middle-style {
    color:black;
    margin: 0px 3%;
}
.image_box{
    width:53%;
    margin:10px auto;
    height:255px;
    border:1px solid #f5f5f5;
    position: relative;
}
#videoElement{
    width:100%;
    height: 100%;
    z-index: -1;
}

.video-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    z-index: 1213;
    color: white;
    text-align: center;
    line-height: 55px;
}

.video-btn i{
    color: white;
    font-size: 22px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 16px;
    z-index: 3242;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.video-btn i:hover{
    font-size: 24px;
    padding: 18px;
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 0.1s;
}

.otp-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 99999;
    display: none;
}

.otp-box{
    position: relative;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #e0e0e0;
    padding: 35px;
    background-color: white;
    border-radius: 5px;
}

#otp-button{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #c0392b;
    background-color: #c0392b;
    color: white;
}

#icon{
    position: absolute;
    right: 1px;
    top: 1px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    font-size: 16px;
    color: #c0392b;
    cursor: pointer;
}

#canvas{
    border: 1px solid #f1f1f1;
    position: absolute;
    margin-top: 43px;
    margin-left: 38.5px;
    top: 55.3%;
    left: 55%;
    height: 274px!important;
    width: 362px!important;
    z-index: 10000;
    transform: translate(-60%,-60%);
}

#takepic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 0px;
    z-index: 99990;
    cursor: pointer;
    margin-top: -70px;
    cursor: pointer;
    margin-left: 21%;

}

#takepic1{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 0px;
    text-align: center;
    line-height: 90px;
    padding-top: 17px;
    font-size: 25px;
    color: white;
    margin-top: -70px;
    margin-left: 21%;
    z-index: 99999;
}


#takepic:hover{
    color: white;
}
