
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 22px;
    font-family: sans-serif;
    color:black;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

.container{
    width: 100%;
    padding:0;
    margin: 0;
}
.hero-section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow{
    width:30%;
    /*height:100vh;*/
    float:left;
    border:1px solid pink;
}
.slideshow img{
    width:100%;
    height:100%;
}
.wrapper {
    max-width: 70%;
    float:left;
    border:1px solid red;
    width: 100%;
    font-size: 17px;
}
.signin_nav{
    color:black;
    width:100%;
    padding:5%;
    padding-right:3%;
}
ul{
    float:right;
    list-style: none;
    width: 40%;
    font-size:17px;
    color:grey;

}

li{
    display: inline-block;
    width: 60%;
    float: left;

}
#signin_text{
    padding:5px;
}
.signin_button{
    border:1px solid black;
    width:34%;
    padding:6px 13px;
    text-align:center;
    border-radius:15px;

}
.signin_button:hover{
    background-color: #e74c3c;
    color:white;
    border: 1px solid #e74c3c;
}
.form-wrapper {
    width: 50%;
    margin: 0 15%;
    padding-top: 3%;
    border:1px solid yellow;
}

.form-box {
    border: 1px solid #efefef;
    border-radius: 1px;
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.gap {
    padding: 10px 0;
}

._gap {
    margin-bottom: 20px;
}

.primary-heading {
    font-family:;
    text-align: center;
    font-size: 250%;
    color: #000;
    margin: 12px 0;
}

.secondary-heading {
    font-size: 120%;
    margin: 0 40px 10px;
    text-align: center;
    font-weight: 300;
    margin: 5px 0;
    color:black;
}

.form-basic {
    margin: 0 40px 6px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px 12px;
    font-size: 100%;
    outline: none;
    transition: 0.4s linear;
    border: 1px solid #999;
    border-radius:5px;
}

input:focus {
    border: 1px solid #000;
    box-shadow: inset 0 0 2px #000;
}

.btn-container {
    margin: 10px 40px;
    display: block;
}

.btn-form {
    width: 100%;
    color: black;
    background-color: white;
    padding: 0 12px;
    border: 1px solid #000;
    cursor: pointer;
    line-height: 30px;
    border-radius: 10px;
    font-weight: 700;
    outline: none;
    transition: 0.4s ease;
    font-size: 14px;
    display:block;
    text-decoration: none !important;
    text-align: center;
}

.btn-form:hover {
    background-color: #e74c3c;
    color: white;
    border:1px solid #e74c3c;
}
.signup_button{
    background-color:#e74c3c;
    color:white;
}
.signup_botton:hover{
    background-color:rgba(231, 76, 60, 0.7)
}
.small-copy {
    margin: 20px 50px;
    text-align: center;
    font-size: 90%;
}

.small-copy a {
    text-decoration: none;
    color: #000;
    transition: 0.4s linear;
    border-bottom: 1px solid rgba(0,0,0,0);
    padding-bottom: 3px;
}

.small-copy a:hover {
    border-bottom: 1px solid;
}

.line-style,
.middle-style {
    display: inline-block;
}

.line-style {
    height: 1.5px;
    background-color: #999;
    width: 40.1%;
    vertical-align: middle;
}

.middle-style {
    color:black;
    margin: 0px 3%;
}

.styling {
    margin: 10px 40px 20px;

}
.img_cap_box{
    width:200px;
    padding:10px;
    float:right;
    border:1px solid purple;

}
.camera_box{
    width:100%;
    height
    border:1px solid black;
    margin:10px;
}
.capture_box{
    margin:10px;
    border:1px solid black;
    width:100%;
    padding:10px;
    text-align:center;
    border-radius: 10px;

}